html{
    background-color: rgb(200,200,200);
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

body{
    width:30%;
    max-width:40vh;
    display:inherit;
    flex-direction: column;
}

h1{
    margin:0;
    font-size:3em;
    font-weight:200;
    color:rgb(88, 88, 88);
}

#image {
    background-image:url(images/HomeImage.png);
    background-size:cover;
    width:100%;
    height:30vw;
    max-height:40vh;
}

#titleAndLinks {
    width:100%;
    display:inherit;
    margin:0;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
}

#title{
    width:60%;
    align-content:start;
}

#links{
    height:100%;
    display:inherit;
    flex-direction: column;
}

a{
    font-size:1em;
    font-weight:300;
    color:rgb(48, 48, 48);
    text-decoration:none;
}

a:hover{
    color:rgb(0, 141, 106)
}

#darkModeToggle{
    position:fixed;
    top:3%;
    right:3%;
    font-size:1em;
    font-weight:300;
    color:rgb(48, 48, 48);
}

.dark{
    background-color: rgb(50,50,50);
  }

.dark h1{
    color: rgb(180, 180, 180)
}

.dark a, .dark #darkModeToggle{
    color: rgb(220, 220, 220)
}

.dark a:hover{
    color:rgb(0, 240, 180)
}
